.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    border-radius: 2vmin;
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
  }

 .auth-page {
  background-color: rgba(192, 221, 221);
  background: linear-gradient(180deg, rgba(192, 221, 221) 0%, rgba(255,255,255,1) 100%);
  }