.add-book {
    padding: 1px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 5px;
    min-width: 200px
}

.author {
    margin: 5px;
    min-width: 200px
}