.books {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.book-cover {
    width: 150px;
    box-shadow: 5px 5px 10px;
}

.description {
    text-align: center;
    margin: auto;
}

.article {
    width: 300px;
    background: linear-gradient(180deg, rgb(192, 221, 221) 0%, rgba(255,255,255,1) 100%);
    
    padding: 20px;
    margin: 15px;
}

.links {
    display: flex;
    justify-content: center;
    margin-left: -10%;
}

.links:hover {
    color: rgb(88, 139, 139);
}

.NYTheader {
    width: 500px;
    display: flex;
    margin: auto;
    padding: 15px;
}