.editorContainer {
  padding: 1em;
  font-family: "Raleway", sans-serif, monospace;
}

.editors {
  border: 1px blue solid;
  padding: 1em;
  font-family: "Raleway", sans-serif, monospace;
  font-size: 90%;
  text-align: left;
}

button {
  border: 1px solid black;
  /* width: 30px; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin: 10px;
}

.save-button {
  border: 1px solid black;
  width: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.text-prompt {
  width: 250px;
  text-align: center;
  margin: auto;
}

.editorContainer {
  max-width: 600px;
  margin: auto;
}