.reader-card {
    margin: 15px;
    display: inline-block;
    padding: 5px;
    min-height: 150px;
    vertical-align: top;
}

.reader-card-info{
    border: 1px dotted black;
    width: 200px;
    min-height: 200px;
    padding: 5px;
    background-color: rgb(228, 244, 244);
    box-shadow: 2px 2px 10px rgb(169, 182, 182);
}

.delete-button {
    box-shadow: inset;
    box-shadow: 0 0 5px 1px rgb(165, 233, 233);
}

button:hover{
    box-shadow: inset;
    box-shadow: 0 0 10px 5px rgb(165, 233, 233);
}

